<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> sbout page</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header class="section-navbar">
        <div class="container">
            <div class="nav-brand">
                <a href="index.html">
                    <img
                    src="./images/final logo.png"
                    alt="My LOGO"
                    width="27%"
                    height="auto">
                </a>
            </div>
            <nav class="navbar">
                <ul>
                    <li class="nav-item"><a class="nav-link" 
                        href="index.html">HOME</a></li>

                    <li class="nav-item"><a class="nav-link" 
                        href="ABOUT.html">ABOUT</a></li>

                    <li class="nav-item"><a class="nav-link" 
                        href="SKILLs.html">SKILLs</a></li>

                    <li class="nav-item"><a class="nav-link" 
                        href="CONTACT.html">CONTACT US</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!--1 54   navbar ended-->
    <div class="about-portion">

        <h1 class="about-heading">
          <strong>ABOUT</strong>
        </h1>
          
        <p class="about-para">
           "As a creative and detail-driven web developer<br>
           and multimedia expert, I bring ideas to life through<br>
           innovative solutions. With a strong foundation<br> in 
           web development, video editing, image editing,<br> 
           voice editing, and logo design, I'v honed my skills<br>
           to deliver high-quality results. I'm passionate about<br>
           collaborating with clients to understand their unique<br>
           needs and delivering tailored solutions that exceed<br>
           expectations. Let's connect and bring your vision to life!"
        </p>
  
           <div class="skill-imgs">
            <img src="./images/img editor.jpg" alt="img editor icon">
            <img src="./images/logo design.jpg" alt="logo designer icon">
            <img src="./images/web develop.jpg" alt="wed developer icon">
            <img src="./images/video editor.jpg" alt="video editor icon">
            <img src="./images/voice editor.jpg" alt="voice editor icon">
           </div>
      </div>
      <!--About section completed-->
      <div class="skills-page">
        <h1 class="skill-heading">
            SKILLS
        </h1>

        <div class="container grid grid-three--cols">
            <div class="common-div">
                    <img 
                    src="./images/logo design.jpg" 
                    alt="logo designer icon">

                    <h3 class="logo-heading">LOGO DESIGNER</h3>

                    <p class="logo-para">
                    ufiueiufifiuwiuwiiwi ijiegj googjo gg 
                    ijojiorjgoi regjreoijgoijreog orjgo jgo
                    igoiiorgjoir ghroghorg rgohroig rgroghg.                   
                </p>
            </div>

            
                <div class="common-div">
                        <img 
                        src="./images/video editor.jpg" 
                        alt="video editor icon">

                        <h3 class="logo-heading">VIDEO EDITOR</h3>

                        <p class="logo-para">
                        ufiueiufifiuwiuwiiwi ijiegj googjo gg 
                        ijojiorjgoi regjreoijgoijreog orjgo jgo
                        igoiiorgjoir ghroghorg rgohroig rgroghg.                   
                    </p>
                </div>


                
                    <div class="common-div">
                            <img 
                            src="./images/img editor.jpg" 
                            alt="image editor icon">
    
                            <h3 class="logo-heading">IMAGE EDITOR</h3>
    
                            <p class="logo-para">
                            ufiueiufifiuwiuwiiwi ijiegj googjo gg 
                            ijojiorjgoi regjreoijgoijreog orjgo jgo
                            igoiiorgjoir ghroghorg rgohroig rgroghg.                   
                        </p>
                    </div>


        </div>

        <div class="container grid grid-two--cols">
            <div class="second-div">
                <img src="./images/development.jpg" 
                alt="web developer icon">
                <h3 class="sec-heading">WEB DEVELOPER</h3>
                <p class="sec-para">
                    ufiueiufifiuwiuwiiwi ijiegj googjo gg 
                    ijojiorjgoi regjreoijgoijreog orjgo jgo
                    igoiiorgjoir ghroghorg rgohroig rgroghg.
                </p>
            </div>

            <div class="second-div">
                <img src="./images/voice editor.jpg" 
                alt="voice editor icon">
                <h3 class="sec-heading">VOICE EDITOR</h3>
                <p class="sec-para">
                    ufiueiufifiuwiuwiiwi ijiegj googjo gg 
                    ijojiorjgoi regjreoijgoijreog orjgo jgo
                    igoiiorgjoir ghroghorg rgohroig rgroghg.
                </p>
            </div>
        </div>
    </div>
<!-- SKILLS PAGE COMPLETED-->
<div class="contact-page">
    <h1 class="contact-heading">CONTACT:US</h1>
    <p class="contact-para">
        "Welcome to my creative hub! As a multifaceted
        expert in <br>video editing,logo design,picture editing,
        voice editing and <br>web development,I bring ideas to life
        through captivating<br> visuals and seamless digital experiences.
        With a passions<br> for innovative storytelling and a keen eye 
        for detail, I craft<br> tailored solutions that elevates brands 
        and leave a lasting <br>impact. Let's collaborates and transform your 
        vision into a <br>stunning reality. Get in touch with me to explore
        how my<br> skills can amplify your project's potential!"
    </p>
    <div class="icon">
        <a href="" target="_blank"><img  class="first-pic" 
        src="./images/insta img.jpeg" alt="instagram icon"></a>

        <a href="" target="_blank"> <img class="second-pic" 
        src="./images/mail img.png" alt="mail icon"></a> 

        <a href="" target="_blank"> <img class="third-pic" 
        src="./images/facebook img.png" alt="facebook icon"></a> 

    </div>
        </div>
</body>
</html>