<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact page</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header class="section-navbar">
        <div class="container">
            <div class="nav-brand">
                <a href="index.html">
                    <img
                    src="./images/final logo.png"
                    alt="My LOGO"
                    width="27%"
                    height="auto">
                </a>
            </div>
            <nav class="navbar">
                <ul>
                    <li class="nav-item"><a class="nav-link" 
                        href="index.html">HOME</a></li>

                    <li class="nav-item"><a class="nav-link" 
                        href="ABOUT.html">ABOUT</a></li>

                    <li class="nav-item"><a class="nav-link" 
                        href="SKILLs.html">SKILLs</a></li>

                    <li class="nav-item"><a class="nav-link" 
                        href="CONTACT.html">CONTACT US</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!--1 54   navbar ended-->
    <div class="contact-page">
        <h1 class="contact-heading">CONTACT:US</h1>
        <p class="contact-para">
            "Welcome to my creative hub! As a multifaceted
            expert in <br>video editing,logo design,picture editing,
            voice editing and <br>web development,I bring ideas to life
            through captivating<br> visuals and seamless digital experiences.
            With a passions<br> for innovative storytelling and a keen eye 
            for detail, I craft<br> tailored solutions that elevates brands 
            and leave a lasting <br>impact. Let's collaborates and transform your 
            vision into a <br>stunning reality. Get in touch with me to explore
            how my<br> skills can amplify your project's potential!"
        </p>
        <div class="icon">
            <a href="" target="_blank"><img  class="first-pic" 
            src="./images/insta img.jpeg" alt="instagram icon"></a>

            <a href="" target="_blank"> <img class="second-pic" 
            src="./images/mail img.png" alt="mail icon"></a> 

            <a href="" target="_blank"> <img class="third-pic" 
            src="./images/facebook img.png" alt="facebook icon"></a> 

        </div>
            </div>
    </body>
    </html>